<h3>Form</h3>
<div class="container">
  <div>

    <mf-dynamic-form [form]="form"
                     (formReady)="formReady($event)"
                     (formSubmitted)="onSubmit($event)"
    ></mf-dynamic-form>
    <button (click)="isStep2Validated()">is step 2 valid ?</button>
    <button (click)="enableEdit()">Enable edit</button>
    <button (click)="printDebugData()">printDebugData</button>
    <button (click)="disableEdit()">Disable edit</button>

  </div>
  <pre *ngIf="formData">
    {{  formData | json}}
  </pre>
</div>

<div>
  <h1>External Form Group</h1>
  <form [formGroup]="externalFormGroup">
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
  </form>


  <p>Target Form Group: {{ externalFormGroup.value | json }}</p>
</div>

